.frames-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 25%;
  padding: 2%;
}

.frames-container .frame {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 0.6em;
  padding: 0;
  border-radius: 1em;
}

.frames-container .frame.connector {
  width: 5%;
  height: 100%;
}

.frames-container .frame.connector.go-right {
  background: url(../images/arrow-right.png) no-repeat center center;
  background-size: 90%;
}

.frames-container .frame.connector.choice {
  background: url(../images/choice.png) no-repeat center center;
  background-size: 90%;
}

.frames-container .frame.connector.plus {
  background: url(../images/plus.png) no-repeat center center;
  background-size: 90%;
}

.frames-container .frame.idea {
  background: url(../images/idea.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.design {
  background: url(../images/design.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.coding {
  background: url(../images/coding.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.browser {
  background: url(../images/browser.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.wordpress {
  background: url(../images/wordpress.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.wix {
  background: url(../images/wix.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.bespoken {
  background: url(../images/bespoken.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.frontend {
  background: url(../images/browser.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.backend {
  background: url(../images/backend.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.fullstack {
  background: url(../images/fullstack.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.database {
  background: url(../images/datamodel.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.server {
  background: url(../images/server.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.client {
  background: url(../images/browser.png) no-repeat center center;
  background-size: 50%;
}

.frames-container .frame.security {
  background: url(../images/security.png) no-repeat center center;
  background-size: 50%;
}
