@keyframes animate-menu {
    0%  { content: "?"; }
    5%  { content: "\2026 ?"; }
   50%  { color: transparent; }
  100%  { content: attr(data-longtext);}
}

.option[data-longtext]::after {
  content: "?";
}

.option[data-longtext]:hover::after {
  animation: animate-menu 1s linear 0s 1 normal forwards;
}