:root {
  --lightmodalbackground: rgba(245, 245, 245, 0.9);
  --darkmodalbackground: rgba(0, 0, 0, 0.9);
}

.modal {
  position: fixed;
  background-color: var(--darkmodalbackground);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal .modal-content {
  grid-area: working;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  text-align: justify;
  line-height: 150%;
}

.modal .modal-content > p {
  margin-bottom: 0.8em;
}

.modal .modal-content > h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.modal .modal-content li {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.modal .modal-title {
  margin-bottom: 1em;
}

.modal .close {
  grid-area: working;
  position: fixed;
  top: 2em;
  right: 0;
  height: 1em;
  width: 1em;
}