:root {
  --lighttext: #FFEFD5;
  --darktext: #FF8C00;
  --lightbackground: whitesmoke;
  --darkbackground: black;
  --bright: brightness(120%);
  --dim: brightness(80%);
}

body {
  background-color:var(--darkbackground);
  color: var(--lighttext);
}

body.light {
  background-color: var(--lightbackground);
  color: var(--darktext);
}

.highlight, .hover-highlight:hover {
  filter: var(--bright);
}

.light .highlight, .light .hover-highlight:hover {
  filter: var(--dim);
}

.header .big{
  border-bottom: 1px solid currentColor;
}

.signature {
  background: url(../images/mugua-light.png) no-repeat center left;
  background-size: 10%;
}

.light .signature{
  background: url(../images/mugua-dark.png) no-repeat center left;
  background-size: 10%;
}

.biglogo {
  background: url(../images/mugua-light.png) no-repeat center center;
  background-size: 0%;
}

.light .biglogo {
  background: url(../images/mugua-dark.png) no-repeat center center;
}

.section .back {
  background: url(../images/menu-light.png) no-repeat center center;
  background-size: cover;
}

.light .section .back {
  background: url(../images/menu-dark.png) no-repeat center center;
  background-size: cover;
}

.section a {
  color: currentColor;
}

.section a[target="_blank"]::after {
  margin-left: 0.2em;
  content: url(../images/link-light.png);
}

.light .section a[target="_blank"]::after{
  content: url(../images/link-dark.png);
}

.section b {
  filter: var(--bright);
}

.light .section b {
  filter: var(--dim);
}

#what .content .outer {
  border: 1px solid currentColor;
}

#what .content .outer .sector {
  border: 1px solid transparent;
}

#what .content .outer .sector.top-left {
  background: currentColor url('../images/site-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.top-left {
  background-image: url(../images/site-white.png);
}

#what .content .outer .sector.top-right {
  background: currentColor url('../images/blog-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.top-right {
  background-image: url('../images/blog-white.png');
}

#what .content .outer .sector.bottom-left {
  background: currentColor url('../images/app-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.bottom-left {
  background-image: url('../images/app-white.png');
}

#what .content .outer .sector.bottom-right {
  background: currentColor url('../images/learn-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.bottom-right {
  background-image: url('../images/learn-white.png');
}

#what .content .inner {
  border: 1px solid var(--darkbackground);
  background-color: var(--darkbackground);
}

.light #what .content .inner {
  border: 1px solid var(--lightbackground);
  background-color: var(--lightbackground);
}

.modal {
  background-color: var(--darkmodalbackground);
}

.light .modal {
  background-color: var(--lightmodalbackground);
}

.modal .modal-title {
  border-bottom: 1px dotted currentColor;
}

.modal .close {
  background: url(../images/close-light.png) no-repeat center center;
  background-size: cover;
}

.light .modal .close {
  background: url(../images/close-dark.png) no-repeat center center;
  background-size: cover;
}

.modal .modal-logo.site {
  background: url(../images/site-light.png) no-repeat center center;
  background-size: cover;
}

.light .modal .modal-logo.site {
  background: url(../images/site-dark.png) no-repeat center center;
  background-size: cover;
}

.modal .modal-logo.blog {
  background: url(../images/blog-light.png) no-repeat center center;
  background-size: cover;
}

.light .modal .modal-logo.blog {
  background: url(../images/blog-dark.png) no-repeat center center;
  background-size: cover;
}

.modal .modal-logo.app {
  background: url(../images/app-light.png) no-repeat center center;
  background-size: cover;
}

.light .modal .modal-logo.app {
  background: url(../images/app-dark.png) no-repeat center center;
  background-size: cover;
}

.modal .modal-logo.learn {
  background: url(../images/learn-light.png) no-repeat center center;
  background-size: cover;
}

.light .modal .modal-logo.learn {
  background: url(../images/learn-dark.png) no-repeat center center;
  background-size: cover;
}

.frames-container .frame:not(.arrow-right) {
  background-color: var(--lightbackground) !important;
  color: var(--darkbackground);
}

.light .frames-container .frame:not(.arrow-right) {
  background-color: var(--darkbackground) !important;
  color: var(--lightbackground);
}

.light .frames-container .frame.arrow-right {
  filter: var(--dim);
}