:root {
  --lighttext: #0080FF;
  --darktext: #0040C0;
  --bright: brightness(120%);
  --dim: brightness(80%);
}

body {
  background-color: black;
  color: var(--lighttext);
}

body.light {
  color: var(--darktext);
  background-color: whitesmoke;
}

.header .big{
  border-bottom: 1px solid var(--lighttext);
}

.light .header .big {
  border-color: var(--darktext);
}

.signature {
  background: url(../images/mugua-light.png) no-repeat center left;
  background-size: 10%;
}

.light .signature{
  background: url(../images/mugua-dark.png) no-repeat center left;
  background-size: 10%;
}

.biglogo {
  background: url(../images/mugua-light.png) no-repeat center center;
  background-size: 0%;
}

.light .biglogo {
  background: url(../images/mugua-dark.png) no-repeat center center;
}

.menu .option::hover {
  filter: var(--bright);
}

.light .menu .option:hover {
  filter: var(--dim);
}

.section .close {
  background: url(../images/close-light.png) no-repeat center center;
  background-size: cover;
}

.light .section .close {
  background: url(../images/close-dark.png) no-repeat center center;
  background-size: cover;
}

.section a {
  color: var(--lighttext);
}

.light .section a {
  color: var(--darktext);
}

.section a::after {
  margin-left: 0.2em;
  content: url(../images/link-light.png);
}

.light .section a::after{
  content: url(../images/link-dark.png);
}

.section p b {
  filter: var(--bright);
}

.light .section p b {
  filter: var(--dim);
}

#what .content .outer {
  border: 1px solid var(--lighttext);
}

.light #what .content .outer {
  border: 1px solid var(--darktext);
}

#what .content .outer .sector {
  background-color: var(--lighttext);
  border: 1px solid black;
}

.light #what .content .outer .sector {
  background-color: var(--darktext);
  border: 1px solid whitesmoke;
}

#what .content .outer .sector:hover {
  filter: var(--bright);
}

.light #what .content .outer .sector:hover {
  filter: var(--dim);
}

#what .content .outer .sector.top-left {
  background: var(--lighttext) url('../images/site-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.top-left {
  background: var(--darktext) url('../images/site-white.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

#what .content .outer .sector.top-right {
  background: var(--lighttext) url('../images/blog-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.top-right {
  background: var(--darktext) url('../images/blog-white.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

#what .content .outer .sector.bottom-left {
  background: var(--lighttext) url('../images/app-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.bottom-left {
  background: var(--darktext) url('../images/app-white.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

#what .content .outer .sector.bottom-right {
  background: var(--lighttext) url('../images/learn-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.bottom-right {
  background: var(--darktext) url('../images/learn-white.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

#what .content .inner {
  border: 1px solid black;
  background-color: black;
}

.light #what .content .inner {
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
}