:root {
  --lighttext: #FFEFD5;
  --darktext: #FF8C00;
  --lightbackground: whitesmoke;
  --darkbackground: black;
  --bright: brightness(120%);
  --dim: brightness(80%);
}

body {
  background-color:var(--darkbackground);
  color: var(--lighttext);
}

body.light {
  background-color: var(--lightbackground);
  color: var(--darktext);
}

.highlight, .hover-highlight:hover {
  filter: var(--bright);
}

.light .highlight .light .hover-highlight:hover {
  filter: var(--dim);
}

.header .big{
  border-bottom: 1px solid currentColor;
}

.signature {
  background: url(../images/mugua-light.png) no-repeat center left;
  background-size: 10%;
}

.light .signature{
  background: url(../images/mugua-dark.png) no-repeat center left;
  background-size: 10%;
}

.biglogo {
  background: url(../images/mugua-light.png) no-repeat center center;
  background-size: 0%;
}

.light .biglogo {
  background: url(../images/mugua-dark.png) no-repeat center center;
}

.section .back {
  background: url(../images/menu-light.png) no-repeat center center;
  background-size: cover;
}

.light .section .back {
  background: url(../images/menu-dark.png) no-repeat center center;
  background-size: cover;
}

.section a {
  color: currentColor;
}

.section a::after {
  margin-left: 0.2em;
  content: url(../images/link-light.png);
}

.light .section a::after{
  content: url(../images/link-dark.png);
}

.section p b {
  filter: var(--bright);
}

.light .section p b {
  filter: var(--dim);
}

#what .content .outer {
  border: 1px solid currentColor;
}

#what .content .outer .sector {
  border: 1px solid transparent;
}

#what .content .outer .sector.top-left {
  background: currentColor url('../images/site-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.top-left {
  background-image: url(../images/site-white.png);
}

#what .content .outer .sector.top-right {
  background: currentColor url('../images/blog-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.top-right {
  background-image: url('../images/blog-white.png');
}

#what .content .outer .sector.bottom-left {
  background: currentColor url('../images/app-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.bottom-left {
  background-image: url('../images/app-white.png');
}

#what .content .outer .sector.bottom-right {
  background: currentColor url('../images/learn-black.png') no-repeat bottom 10vmin right 10vmin;
  background-size: 15%;
}

.light #what .content .outer .sector.bottom-right {
  background-image: url('../images/learn-white.png');
}

#what .content .inner {
  border: 1px solid var(--darkbackground);
  background-color: var(--darkbackground);
}

.light #what .content .inner {
  border: 1px solid var(--lightbackground);
  background-color: var(--lightbackground);
}