.section > span {
  grid-area: title;
  width: 100%;
  place-self: center left;
  display: flex;
  justify-content: space-between;
}

.section > span > h2 {
  font-size: 2.5em;
  font-weight: bold;
}

.section > span > .q {
  height: 1.8em;
  width: 1.8em;
  align-self: center;
}

#tools .content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas: 
    "web blog"
    "app training";
}

#tools .content div[data-area] {
  grid-area: attr(data-area);
  height: 90%;
  width: 90%;
  border-radius: 1em;
}

#tools .content .cover {
  place-self: center;
  border-bottom: 1px solid currentColor;
  border-right: 1px solid currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#tools .content .cover > span {
  transition: opacity 1s;
  padding-bottom: 0.5em;
}

#tools .content .cover .tools {
  place-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;
  transition: opacity 1s;
  opacity: 0;
}

#tools .content .cover .tools .q{
  grid-area: title;
  height: 1.8em;
  width: 1.8em;
  place-self: center right 0.5em;
}

#tools .content .cover .tools .tool{
  font-size: 1.2em;
  padding-left: 3em;
  width: 80%;
}

#tools .content .cover[data-area=web] {
  background: url(../images/browser.png) no-repeat center center;
  background-size: 50%;
}

#tools .content .cover[data-area=blog] {
  background: url(../images/blog.png) no-repeat center center;
  background-size: 50%;
}

#tools .content .cover[data-area=app] {
  background: url(../images/app.png) no-repeat center center;
  background-size: 50%;
}

#tools .content .cover[data-area=training] {
  background: url(../images/training.png) no-repeat center center;
  background-size: 50%;
}

#tools .content .cover:hover {
  box-shadow: 0.5em 0.5em 1em currentColor;
  background: transparent;
}

#tools .content .cover:hover > span {
  opacity: 0;
}

#tools .content .cover:hover .tools{
  opacity: 1;
}

#tools .content .cover .tools .tool.html{
  background: url(../images/html5.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.css{
  background: url(../images/css3.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.js{
  background: url(../images/js.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.wordpress{
  background: url(../images/wordpress.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.cosmic{
  background: url(../images/cosmicjs.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.rails{
  background: url(../images/ror.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.clojure{
  background: url(../images/clojure.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.postgresql{
  background: url(../images/postgresql.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.graphql{
  background: url(../images/graphql.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.reactjs{
  background: url(../images/reactjs.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.vslshare{
  background: url(../images/VSCodeLiveShare.png) no-repeat top left;
  background-size: 2em;
}

#tools .content .cover .tools .tool.slack{
  background: url(../images/slack.png) no-repeat top left;
  background-size: 2em;
}
