#what .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#what .content .outer {
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

#what .content .outer .sector {
  position: absolute;
  transform-origin: 100% 100%;
  width: 60vmin;
  height: 60vmin;
  left: 50%;
  top: 50%;
  margin-top: -60vmin;
  margin-left: -60vmin;
}

#what .content .outer .sector.top-left {
  transform: rotate(0deg);
}

#what .content .outer .sector.top-right {
  transform: rotate(90deg);
}

#what .content .outer .sector.bottom-right {
  transform: rotate(180deg);
}

#what .content .outer .sector.bottom-left {
  transform: rotate(270deg);
}

#what .content .outer .inner {
  border-radius: 100%;
  width: 20vmin;
  height: 20vmin;
  position: absolute;
  top: 20vmin;
  left: 20vmin;
  z-index: 10;
}

#what .content .sector-text {
  font-size: 1.6em;
  margin-bottom: 3em;
}

.explanation-container {
  display: flex;
  flex-direction: column;
}

.explanation {
  transition: opacity 1s;
}

#what .pull-up {
  width: 60vw;
  height: 20vh;
  position: absolute;
  right: -59vw;
  bottom: 5%;
  border: 2px solid currentColor;
  border-right: none;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  transition: right 0.2s;
  display: flex;
}

#what .pull-up:not(.clicked):hover {
  right: -57vw;
}

#what .pull-up:not(.clicked):hover .icon {
  width: 1.5vw;
}

#what .pull-up.clicked {
  right: 0;
}

#what .pull-up .icon {
  transition: transform 0.2s;
}

#what .pull-up.clicked .icon {
  transform: scaleX(-1);
}

#what .pull-up .portfolio {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.booklet {
  background: url(../images/booklet.png) no-repeat center center;
  background-size: 50%;
}

.online-shop {
  background: url(../images/online-shop.png) no-repeat center center;
  background-size: 50%;
}