#what .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#what .content .outer {
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

#what .content .outer .sector {
  position: absolute;
  transform-origin: 100% 100%;
  width: 60vmin;
  height: 60vmin;
  left: 50%;
  top: 50%;
  margin-top: -60vmin;
  margin-left: -60vmin;
}

#what .content .outer .sector.top-left {
  transform: rotate(0deg);
}

#what .content .outer .sector.top-right {
  transform: rotate(90deg);
}

#what .content .outer .sector.bottom-right {
  transform: rotate(180deg);
}

#what .content .outer .sector.bottom-left {
  transform: rotate(270deg);
}

#what .content .outer .inner {
  border-radius: 100%;
  width: 20vmin;
  height: 20vmin;
  position: absolute;
  top: 20vmin;
  left: 20vmin;
  z-index: 10;
}

#what .content .sector-text {
  font-size: 1.6em;
  margin-bottom: 3em;
}

.explanation-container {
  display: flex;
  flex-direction: column;
}

.explanation {
  transition: opacity 1s;
}